<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Budget Tracker.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>016CA436BA9B3A50EB7E6B684B1D1753063602C5</string>
				<key>dateExpires</key>
				<string>27.10.2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>016CA436BA9B3A50EB7E6B684B1D1753063602C5</string>
						<key>dateExpires</key>
						<string>27.10.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CorePlot.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQA2XH9ZUM</string>
						<key>name</key>
						<string>Mykhailo Dovhyi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>016CA436BA9B3A50EB7E6B684B1D1753063602C5</string>
						<key>dateExpires</key>
						<string>27.10.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQA2XH9ZUM</string>
						<key>name</key>
						<string>Mykhailo Dovhyi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>016CA436BA9B3A50EB7E6B684B1D1753063602C5</string>
						<key>dateExpires</key>
						<string>27.10.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQA2XH9ZUM</string>
						<key>name</key>
						<string>Mykhailo Dovhyi</string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>016CA436BA9B3A50EB7E6B684B1D1753063602C5</string>
						<key>dateExpires</key>
						<string>27.10.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQA2XH9ZUM</string>
						<key>name</key>
						<string>Mykhailo Dovhyi</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30908.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>016CA436BA9B3A50EB7E6B684B1D1753063602C5</string>
						<key>dateExpires</key>
						<string>27.10.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>FQA2XH9ZUM.com.dovhiy.Developer.Budget-Tracker.BudgetTrackerCalendatWidget</string>
						<key>com.apple.developer.team-identifier</key>
						<string>FQA2XH9ZUM</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.dovhiy.detectAppClose</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>BudgetTrackerCalendatWidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>8f97dc84-c4a4-4edc-935b-06a68c1eb9e0</string>
						<key>dateExpires</key>
						<string>27.10.2024</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: com.dovhiy.Developer.Budget-Tracker.BudgetTrackerCalendatWidget</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FQA2XH9ZUM</string>
						<key>name</key>
						<string>Mykhailo Dovhyi</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FQA2XH9ZUM.com.dovhiy.Developer.Budget-Tracker</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.authentication-services.autofill-credential-provider</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>FQA2XH9ZUM</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.dovhiy.detectAppClose</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Budget Tracker.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>3947d6e5-6ed2-407b-a23c-03c6bbd4c98b</string>
				<key>dateExpires</key>
				<string>27.10.2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.dovhiy.Developer.Budget-Tracker</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FQA2XH9ZUM</string>
				<key>name</key>
				<string>Mykhailo Dovhyi</string>
			</dict>
			<key>versionNumber</key>
			<string>34.5</string>
		</dict>
	</array>
</dict>
</plist>
